@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
  position: relative;
  min-height: 100%;
  margin:0;
  padding:0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  /* Margin bottom by footer height */
  font-family: "Roboto", sans-serif;
  margin:0;
  padding:0;
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
}
/* Custom page CSS
-------------------------------------------------- */
/* navbar */
.wrapper{
  text-align: center;
}
.brand {
  width: 48%;
  height: 100%;
  padding: 10px 0;
}
.nav__wrapper{
  padding: 0;
  margin: 0;
}
.nav__wrapper a{
  font-size: 18px;
}
/* navbar */
body > .container {
  padding-top: 2.5rem;
  padding-bottom: 100px;
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
code {
  font-size: 80%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
.column-full {
  float: left;
  width: 100%;
  padding: 5px;
}
 /* Three image containers (use 25% for four, and 50% for two, etc) */
.column-content {
  float: left;
  width: 29%;
  padding: 5px;
}

.column-content-spacer {
  float: left;
  width: 3%;
  padding: 5px;
}

.column-feature {
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 35%;
  padding: 5px;
}

.feature-content {
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
}

.column-feature-noshadow {
  float: left;
  width: 13%;
  padding: 5px;
}

.column-feature-spacer {
  float: left;
  width: 5%;
  padding: 5px;
}
.site-header {
  position: relative;
  background-color: #00ADB5; 
}

.site-header__wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  @media (min-width: 600px) {
    .site-header__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 0;
      padding-bottom: 0; } }
@media (min-width: 600px) {
  .nav__wrapper {
    display: flex; } }

@media (max-width: 599px) {
  .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #d9f0f7;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
    .nav__wrapper.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0); } }

.nav__item a {
  display: block;
  color: white;
  padding: 1.5rem 1rem; }

.wrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
  
*,
*:before,
*:after {
  box-sizing: border-box;
}
  
a {
  text-decoration: none;
  color: #222;
}

ul {
  list-style-type: none;
}

#question-text {
  font-size: 3rem;
  line-height: 1.2;
}

#question-text {
  font-size: 1.25rem;
  line-height: 1.36;
  color: rgb(0, 0, 0);
  font-weight: var(--semiBoldWeight);
  max-width: 750px;
  z-index: 1;
}

#hero-text {
  font-size: 3rem;
  line-height: 1.2;
}

#hero-text {
  font-size: 1.75rem;
  line-height: 1.36;
  color: rgb(0, 0, 0);
  font-weight: var(--semiBoldWeight);
  max-width: 750px;
  z-index: 1;
  text-align:center;
}

.column-community {
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 70%;
  padding: 5px;
}

.column-community-header {
  float: left;
  width: 70%;
  padding: 5px;
}

.community-content {
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
}

.column-community-noshadow {
  float: left;
  width: 15%;
  padding: 5px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 900px;
    position: relative;
    margin: auto;
  }
  
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 4px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

/* Footer custom style */
footer{
  color: white;
  background-color: #00ADB5;
  padding: 30px 30%;
}
footer .footer-content{
  text-align: center;
}
footer .footer-content h3{
  font-size: 30px;
  font-weight: 900;
}
footer .footer-content p{
  font-size: 17px;
  padding: 10px 0;
}
footer .footer-social-links{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-social-links i{
  font-size: 30px;
  margin: 0 15px;
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  transition: .5s ease all;
}
footer .footer-social-links i:hover{
  color: white;
  background-color: #00ADB5;
}
@media only screen and (max-width: 1000px) {
  footer{
    padding: 30px 20%;
  }
}
@media only screen and (max-width: 460px) {
  footer{
    padding: 20px 10%;
  }
}
/* Footer custom style */